# Backend API manzili (production'da getvido.uz backend manzili bilan almashtiring, masalan https://api.getvido.uz)
VITE_API_URL=http://localhost:4000

# Google orqali kirish uchun (ixtiyoriy) — Google Cloud Console'dan olinadi
VITE_GOOGLE_CLIENT_ID="462238723241-0q7plckonmlj0320513m3q6k1dksrvo3.apps.googleusercontent.com"
